@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #f3f4f7;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #0a0d10;
  --color-subtext: #969291;
}


.dashboard_wrapper {
  display: flex;
  width: 70%;
  margin: 64px auto;
}

.welcome_wrapper{
  display: flex;
  width: 70%;
  margin: 64px auto;
}

.ml-1 {
  margin-left: .25rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-3 {
  margin-left: .75rem;
}

.ml-4 {
  margin-left: 1rem;
}